//colors
@white: #ffffff;
@black: #000000;
@basic-green: #68b738;

//fonts
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

//code

.wrapper {
  position: relative;
}

@media (min-width: @desktop-width) {
  .banner__wrapper {
    display: flex;
  }
}

.banner__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: @black;
  margin: 0;
}

.banner__subtitle {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: @black;
  margin: 0;
}

.banner-picture__img {
  margin-bottom: 30px;
}

.banner__button {
  width: 280px;
  height: 40px;
  padding: 7px 44px;
  background-color: @basic-green;
  color: @white;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  border: 0;
  display: block;
  position: absolute;
  bottom: 0;
}

@media (min-width: @tablet-width) {
  .banner__button {
    top: 50px;
  }
}
