//colors
@white: #ffffff;
@black: #000000;
@gray: #d9d9d9;

//code

.catalog__wrapper {
  max-width: 280px;
  margin: auto;
}

@media (min-width: @tablet-width) {
  .catalog__wrapper {
    max-width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__wrapper {
    max-width: 1300px;
  }
}

.catalog-page__heading-main {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: @black;
  margin: 0;
  padding: 27px 0 41px;
}

@media (min-width: @tablet-width) {
  .catalog-page__heading-main {
    font-size: 60px;
    line-height: 60px;
    padding: 64px 0 82px;
    margin-left: 30px;
  }
}
