//colors
@white: #ffffff;
@black: #000000;
@special_dark-grey: #444444;
@special_light-gray: #e7e7e7;

//fonts

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

//code

.comment__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: @black;
}

.comment__textarea {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special_dark-grey;
  border: 1px solid @special_light-gray;
  box-sizing: border-box;
  padding: 9px 15px;
}
