@import url("colors.less");

//code

.contacts {
  padding: 0 20px 20px;
  background-color: @basic-grey-3;
}

@media (min-width: @tablet-width) {
  .contacts {
    padding: 58px 30px 57px;
    height: 34px;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    padding: 58px 110px 61px;
  }
}

.contacts__logo {
  padding: 34px 32px 25px;
  display: block;
  margin: auto;
  width: 128px;
  height: 34px;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.6;
  }
}

@media (min-width: @tablet-width) {
  .contacts__logo {
    padding: 0;
    margin: 0;
  }
}

.contact__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: @basic-black-1;
  margin: 26px 0 35px;
}

@media (min-width: @tablet-width) {
  .contact__title {
    font-size: 36px;
    line-height: 36px;
    margin: 71px 0 76px;
  }
}

@media (min-width: @desktop-width) {
  .contact__title {
    margin: 69px 0 76px;
  }
}

.contact__label {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @basic-dark-grey-1;
}

@media (min-width: @tablet-width) {
  .contact__label {
    font-size: 20px;
    line-height: 30px;
  }
}

.contact-list {
  padding: 0 20px;
}

.contact-list-1 {
  display: flex;
  margin-bottom: 14px;
  align-items: center;
}

.contact-list-2 {
  display: flex;
  align-items: center;
}

@media (min-width: @tablet-width) {
  .contact-list {
    padding: 0;
  }

  .contact-list-1 {
    margin-bottom: 20px;
  }
}

@media (min-width: @desktop-width) {
  .contact-list {
    display: flex;
    justify-content: space-between;
  }

  .contact-list-1 {
    margin-bottom: 0;
  }

  .contact-list-2 {
    display: initial;
  }
}

.contact__input {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @basic-dark-grey-1;
  border: 1px solid @basic-grey-4;
  box-sizing: border-box;
  padding: 13px 16px;
}

@media (min-width: @tablet-width) {
  .contact__input {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 21px;
  }
}

@media (min-width: @desktop-width) {
  .contact__input {
    padding: 10px 18px;
  }
}

.contact__label-1 {
  margin-right: 11px;
}

.contact__label-2 {
  margin-right: 8px;
}

@media (min-width: @tablet-width) {
  .contact__label-1 {
    margin-right: 21px;
  }

  .contact__label-2 {
    margin-right: 15px;
  }
}

@media (min-width: @desktop-width) {
  .contact__label-1 {
    margin-right: 20px;
  }

  .contact-label-2 {
    margin-right: 15px;
  }
}

.contact__input-1 {
  flex-grow: 1;
  background: url("../img/icon_email.svg") no-repeat center;
  background-position-x: 94%;
}

.contact__input-2 {
  flex-grow: 1;
  background: url("../img/phone.svg") no-repeat center;
  background-position-x: 95%;
}

@media (min-width: @tablet-width) {
  .contact__input-1 {
    width: 537px;
    background-position-x: 512px;
  }

  .contact__input-2 {
    width: 523px;
    background-position-x: 497px;
  }
}

@media (min-width: @desktop-width) {
  .contact__input-1 {
    width: 486px;
    background-position-x: 448px;
  }

  .contact__input-2 {
    width: 472px;
    background-position-x: 434px;
  }
}
