//colors
@white: #ffffff;
@black: #111111;
@special_dark-grey: #444444;

//fonts

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

//code

.copyright {
}

.copyright__link {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: @special_dark-grey;
  text-decoration: none;
}

.copyright__text {
}
