@import url("colors.less");

//code

.example {
  background-color: @basic-grey-5;
}

@media (min-width: @tablet-width) {
  .example {
    background-color: @basic-white;
  }
}

@media (min-width: @desktop-width) {
  .example {
    background: linear-gradient(to bottom, @basic-white 31%, @basic-grey-3 31%);
    display: flex;
  }
}

@media (min-width: @desktop-width) {
  .example__wrapper {
    display: flex;
    margin: auto;
    width: 1220px;
    margin-top: 11px;
  }
}

.example-module {
  max-width: 280px;
  margin: auto;
}

@media (min-width: @tablet-width) {
  .example-module {
    max-width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .example-module {
    margin: 0;
  }
}

@media (min-width: @tablet-width) {
  .example-cards {
    padding: 0 30px;
    margin-bottom: 77px;
  }
}

@media (min-width: @desktop-width) {
  .example-cards {
    padding: 0;
    margin: 146px 0 75px 0;
    width: 436px;
  }
}

.example-cards__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @basic-dark-grey-1;
  margin: 0;
  margin-bottom: 25px;
}

@media (min-width: @tablet-width) {
  .example-cards__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
    margin-right: 6px;
  }
}

@media (min-width: @desktop-width) {
  .example-cards__text {
    margin-bottom: 69px;
    margin-right: 0;
  }
}

.example__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: @basic-black-1;
  padding: 27px 0 33px;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .example__title {
    margin: 43px 30px 31px;
    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: @desktop-width) {
  .example__title {
    padding: 0;
    margin: 59px 0 63px 0;
  }
}

@media (min-width: @tablet-width) {
  .example-description {
    display: flex;
  }
}

@media (min-width: @desktop-width) {
  .example-description {
    display: block;
  }
}

.example-description-cards {
  display: flex;
  justify-content: space-between;
}

@media (min-width: @tablet-width) {
  .example-description-cards {
    width: 366px;
  }
}

@media (min-width: @desktop-width) {
  .example-description-cards {
    margin-right: 65px;
  }
}

.card {
  width: 124px;
  position: relative;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .card {
    width: 162px;
  }
}

.card__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: @basic-black-1;
  text-align: center;
  padding: 14px 15px 17px;
  border: 1px solid @basic-grey-4;
  border-radius: 5px;
}

@media (min-width: @tablet-width) {
  .card__title {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 5px;
    padding: 14px 15px 18px;
  }
}

.card__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  width: 77px;
  top: 45px;
  position: absolute;
  font-size: 12px;
  line-height: 12px;
  color: @basic-dark-grey-1;
  text-align: center;
  margin: 3px 24px;
  background-color: @basic-grey-5;
}

@media (min-width: @tablet-width) {
  .card__text {
    font-size: 14px;
    line-height: 14px;
    top: 63px;
    padding: 0;
    width: 115px;
    margin: 0 25px;
    background-color: @basic-white;
  }
}

@media (min-width: @desktop-width) {
  .card__text {
    background-color: @basic-grey-3;
  }
}

@media (min-width: @tablet-width) {
  .card__text--time {
    width: 140px;
    margin: 2px 12px;
  }
}

.card__text--weight {
  margin: 3px 23px;
}

.card__text--time {
  margin: 2px 22px;
}

@media (min-width: @tablet-width) {
  .card__text--weight {
    margin: 0 23px;
  }

  .card__text--time {
    margin: 0 10px;
  }
}

.example-description-cost {
  display: flex;
  margin: 34px 0 30px 0;
  padding: 0 39px 0 46px;
}

@media (min-width: @tablet-width) {
  .example-description-cost {
    display: block;
    padding: 0;
    margin: 0 0 0 168px;
    padding-top: 11px;
  }
}

@media (min-width: @desktop-width) {
  .example-description-cost {
    display: flex;
    margin: 0;
    padding-top: 55px;
  }
}

.example-cards__cost {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 0 -1px;
  text-transform: uppercase;
  color: @basic-black-1;
}

@media (min-width: @tablet-width) {
  .example-cards__cost {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
  }
}

.example-cards__cost--expenses {
  margin-right: 5px;
}

@media (min-width: @tablet-width) {
  .example-cards__cost--expenses {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .example-cards__cost--expenses {
    margin-right: 63px;
  }
}

@media (min-width: @tablet-width) {
  .example-cards__cost--rubles {
    text-align: end;
    margin-top: 9px;
  }
}

@media (min-width: @desktop-width) {
  .example-cards__cost--rubles {
    margin-top: 0;
  }
}

@media (min-width: @tablet-width) {
  .example__cat {
    background: linear-gradient(to bottom, @basic-white 30%, @basic-grey-5 30%);
  }
}

@media (min-width: @desktop-width) {
  .example__cat {
    width: 690px;
    background: none;
    margin-left: 134px;
  }
}

.example-cat__wrapper {
  max-width: 320px;
  margin: auto;
}

@media (min-width: @tablet-width) {
  .example-cat__wrapper {
    max-width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .example-cat__wrapper {
    padding-top: 5px;
  }
}

.visually-hidden-cat-desktop {
  display: none;
}

@media (min-width: @tablet-width) {
  .visually-hidden-cat-desktop {
    display: block;
    margin: auto;
  }

  .visually-hidden-cat-mobile {
    display: none;
  }
}

.example-slider-buttons {
  padding: 27px 47px 30px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: @tablet-width) {
  .example-slider-buttons {
    padding: 5px 86px 64px;
  }
}

@media (min-width: @desktop-width) {
  .example-slider-buttons {
    padding: 16px 33px 64px;
  }
}

.example-slider-btn {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: @basic-black-1;
  text-transform: uppercase;
  border: 0;
  padding: 0;
  background: none;
}

@media (min-width: @tablet-width) {
  .example-slider-btn {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted @basic-dark-grey-3;

    &:hover {
      border-bottom: 1px solid @basic-dark-grey-4;
    }

    &:focus {
      border: none;
    }
  }
}
