//colors
@white: #ffffff;
@black: #000000;
@special_dark-grey: #444444;
@gray: #eaeaea;

//fonts

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

//code

.example {
  background-color: @gray;
}

@media (min-width: @tablet-width) {
  .example {
    background-color: @white;
  }
}

@media (min-width: @desktop-width) {
  .example-cards {
    background-color: @gray;
  }
}

.example-cards__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @special_dark-grey;
}

.example__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: @black;
}

@media (min-width: @tablet-width) {
  .example-description {
    display: flex;
  }
}

@media (min-width: @desktop-width) {
  .example-description {
    display: block;
  }
}

.example-description-cards {
  display: flex;
}

.card {
  width: 124px;
  height: 64px;
  margin: 0;
}

.card__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: @black;
}

.card__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  color: @special_dark-grey;
}

.example-cards__cost {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  text-transform: uppercase;
  color: @black;
}

@media (min-width: @tablet-width) {
  .example__cat {
    background-color: @gray;
  }
}

.visually-hidden-cat-desktop {
  display: none;
}

@media (min-width: @tablet-width) {
  .visually-hidden-cat-desktop {
    display: block;
  }

  .visually-hidden-cat-mobile {
    display: none;
  }
}

.example-slider__btn {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: @black;
}
