@white: #ffffff;
@black: #000000;
@special-dark-grey: #444444;
@special_dark-grey-2: #222222;
@basic-green: #68b738;
@special-gray: #cdcdcd;
@basic_grey: #f2f2f2;

//code

.main__heading-secondary {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: @black;
  margin: 25px 0 36px;
  background-color: @white;
}

@media (min-width: @tablet-width) {
  .main__heading-secondary {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 81px;
  }
}

@media (min-width: @desktop-width) {
  .main__heading-secondary {
    margin: 13px 0 80px;
  }
}

@media (min-width: @desktop-width) {
  .main__extra-product {
    display: flex;
    justify-content: space-around;
    margin-bottom: 86px;
  }
}

.extra-product-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .extra-product-list {
    border-right: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
    max-width: 708px;
    margin: auto;
  }
}

@media (min-width: @desktop-width) {
  .extra-product-list {
    max-width: 896px;
    border: 0;
    margin: 0;
  }
}

.extra-product-list__item {
  padding: 13px 0 19px;
  border-top: 1px solid @special-gray;
}

.extra-product-list__item:nth-child(4) {
  border-bottom: 1px solid @special-gray;
}

@media (min-width: @tablet-width) {
  .extra-product-list__item {
    padding: 26px 38px 28px;
  }
}

@media (min-width: @desktop-width) {
  .extra-product-list__item {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 16px;
  }
}

@media (min-width: @tablet-width) {
  .extra-product-item {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .extra-product-item {
    display: flex;
    justify-content: space-between;
    width: 650px;
    margin-right: 38px;
  }
}

.extra-product-item__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @special_dark-grey-2;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .extra-product-item__title {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .extra-product-item__title {
    font-size: 20px;
    line-height: 20px;
    margin: auto 0;
  }
}

.extra-product-item__props {
  display: flex;
  justify-content: space-between;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: @special-dark-grey;
  margin: 13px 0 15px;
}

@media (min-width: @tablet-width) {
  .extra-product-item__props {
    font-size: 16px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 25px;
  }

  .extra-product-item-proops--ident {
    margin-left: 50px;
  }
}

@media (min-width: @desktop-width) {
  .extra-product-item__props {
    font-size: 16px;
    line-height: 20px;
    margin: auto 0;
    width: 280px;
    justify-content: space-between;
  }

  .extra-product-item-proops--ident {
    margin-left: 0;
  }
}

.extra-product-item__btn {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 108px;
  border: 0;
  text-transform: uppercase;
  color: @white;
  background-color: @basic-green;
}

.extra-product-item__btn:hover {
  background-color: #5eaa2f;
}

.extra-product-item__btn:focus {
  background-color: #5eaa2f;
  color: #8ec36d;
}

@media (min-width: @tablet-width) {
  .extra-product-item__btn {
    width: 632px;
    padding: 10px;
  }
}

@media (min-width: @desktop-width) {
  .extra-product-item__btn {
    width: 244px;
  }
}

.main__promo {
  text-align: center;
  width: 280px;
  height: 289px;
  margin-top: 40px;
  margin-bottom: 35px;
  background: url("../img/gift-photo-mobile\ 1.jpg") no-repeat;
}

@media (min-width: @tablet-width) {
  .main__promo {
    width: 708px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    margin: 69px auto 76px;
    background: url("../img/gift-photo-tablet\ 1.png") no-repeat;
  }
}

@media (min-width: @desktop-width) {
  .main__promo {
    text-align: center;
    width: 245px;
    height: 289px;
    display: block;
    margin: 0;
    background: url("../img/gift-photo-mobile\ 1.jpg") no-repeat;
  }
}

.promo__img {
  padding: 58px 0 48px;
}

@media (min-width: @tablet-width) {
  .promo__img {
    padding: 0;
    width: 80px;
  }
}

@media (min-width: @desktop-width) {
  .promo__img {
    padding: 55px 0 46px;
  }
}

.promo__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: @white;
  margin: 0;
  padding: 0 61px 0 58px;
}

@media (min-width: @tablet-width) {
  .promo__text {
    width: 161px;
    text-align: start;
    padding: 71px 0 69px;
  }
}

@media (min-width: @desktop-width) {
  .promo__text {
    width: 161px;
    text-align: center;
    padding: 0 40px 0 43px;
  }
}
