@import url("colors.less");

//code

.main__heading-secondary {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: @basic-black-1;
  margin: 25px 0 36px;
  background-color: @basic-white;
}

@media (min-width: @tablet-width) {
  .main__heading-secondary {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 81px;
  }
}

@media (min-width: @desktop-width) {
  .main__heading-secondary {
    margin: 13px 0 80px;
  }
}

@media (min-width: @desktop-width) {
  .main__extra-product {
    display: flex;
    justify-content: space-around;
    margin-bottom: 86px;
  }
}

.extra-product-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .extra-product-list {
    border-right: 1px solid @basic-grey-4;
    border-left: 1px solid @basic-grey-4;
    max-width: 708px;
    margin: auto;
  }
}

@media (min-width: @desktop-width) {
  .extra-product-list {
    max-width: 896px;
    border: 0;
    margin: 0;
  }
}

.extra-product-list__item {
  padding: 13px 20px 18px;
  border-top: 1px solid @basic-grey-4;
}

.extra-product-list__item:nth-child(4) {
  border-bottom: 1px solid @basic-grey-4;
}

@media (min-width: @tablet-width) {
  .extra-product-list__item {
    padding: 26px 38px;
  }
}

@media (min-width: @desktop-width) {
  .extra-product-list__item {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 16px;
  }
}

@media (min-width: @tablet-width) {
  .extra-product-item {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .extra-product-item {
    display: flex;
    justify-content: space-between;
    width: 650px;
    margin-right: 38px;
    margin-left: 2px;
  }
}

.extra-product-item__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @basic-light-black;
  margin-left: 1px;
}

@media (min-width: @tablet-width) {
  .extra-product-item__title {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .extra-product-item__title {
    font-size: 20px;
    line-height: 20px;
    margin: auto 0;
  }
}

.extra-product-item__props {
  display: flex;
  justify-content: space-between;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: @basic-dark-grey-1;
  margin: 13px 0 15px;
}

@media (min-width: @tablet-width) {
  .extra-product-item__props {
    font-size: 16px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 25px;
  }

  .extra-product-item-proops-ident {
    margin-left: 50px;
  }
}

@media (min-width: @desktop-width) {
  .extra-product-item__props {
    font-size: 16px;
    line-height: 20px;
    margin: 14px 1px 0 0;
    width: 287px;
    justify-content: space-between;
  }

  .extra-product-item-proops-ident {
    margin-left: 0;
  }
}

.extra-product-item-btn {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  height: 40px;
  width: 100%;
  border: 0;
  text-transform: uppercase;
  color: @basic-white;
  background-color: @basic-green-1;
}

.extra-product-item-btn:hover {
  background-color: @basic-green-2;
}

.extra-product-item-btn:focus {
  background-color: @basic-green-2;
  color: @basic-green-3;
}

@media (min-width: @tablet-width) {
  .extra-product-item-btn {
    width: 632px;
    padding: 10px;
  }
}

@media (min-width: @desktop-width) {
  .extra-product-item-btn {
    width: 257px;
  }
}

.main__promo {
  text-align: center;
  width: 280px;
  height: 289px;
  margin: auto;
  margin-top: 34px;
  margin-bottom: 35px;
  background: url("../img/gift-photo-mobile.jpg") no-repeat;

  @media @retina {
    .main__promo {
      background: url("../img/gift-photo-mobile@2.jpg") no-repeat;
      background-size: contain;
    }
  }
}

@media (min-width: @tablet-width) {
  .main__promo {
    width: 708px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    margin: 69px auto 76px;
    background: url("../img/gift-photo-tablet.jpg") no-repeat;

    @media @retina {
      .main__promo {
        background: url("../img/gift-photo-tablet@2.jpg") no-repeat;
        background-size: contain;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .main__promo {
    text-align: center;
    width: 245px;
    height: 289px;
    display: block;
    margin: 0;
    background: url("../img/gift-photo-mobile.jpg") no-repeat;

    @media @retina {
      .main__promo {
        background: url("../img/gift-photo-mobile@2.jpg") no-repeat;
        background-size: contain;
      }
    }
  }
}

.promo__img {
  padding: 58px 0 48px;
}

@media (min-width: @tablet-width) {
  .promo__img {
    padding: 0;
    width: 80px;
  }
}

@media (min-width: @desktop-width) {
  .promo__img {
    padding: 55px 0 46px;
  }
}

.promo__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: @basic-white;
  margin: 0;
  padding: 0 61px 0 58px;
}

@media (min-width: @tablet-width) {
  .promo__text {
    width: 161px;
    text-align: start;
    padding: 71px 0 69px;
  }
}

@media (min-width: @desktop-width) {
  .promo__text {
    width: 161px;
    text-align: center;
    padding: 0 40px 0 43px;
  }
}
