//colors
@white: #ffffff;
@black: #000000;
@special_dark-grey: #444444;
@special_light-gray: #e7e7e7;

//fonts

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

//code

.info {
  //временные стили, чтобы форма не ломалась
  display: flex;
  flex-direction: column;
}

@media (min-width: @desktop-width) {
  .info {
    width: 569px;
  }
}

.info__label {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special_dark-grey;
}

.info__input {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special_dark-grey;
  border: 1px solid @special_light-gray;
  box-sizing: border-box;
  padding: 13px 16px;
}
