@import url("colors.less");

//code

.info {
  margin: 39px 0 21px;
  padding: 0 20px;
}

@media (min-width: @tablet-width) {
  .info {
    margin: 0 0 72px;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .info {
    width: 569px;
    margin-bottom: 0;
  }
}

.info-line {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
}

@media (min-width: @tablet-width) {
  .info-line {
    margin-bottom: 18px;

    &:nth-child(3) {
      margin-bottom: 0;
    }
  }
}

.info__label {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @basic-dark-grey-1;
}

@media (min-width: @tablet-width) {
  .info__label {
    font-size: 20px;
    line-height: 30px;
  }
}

.info__input {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @basic-dark-grey-1;
  border: 1px solid @basic-grey-2;
  box-sizing: border-box;
  padding: 13px 16px;
  flex-grow: 1;
}

.info__input:hover {
  border-color: @basic-grey-4;
}

.info__input:focus {
  outline: 2px solid @basic-dark-grey-1;
}

.info__input:focus-visible {
  outline: 2px solid @basic-dark-grey-1;
}

.info__input:target {
  outline: 2px solid @basic-coral;
}

@media (min-width: @tablet-width) {
  .info__input {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 18px 11px;
  }
}

@media (min-width: @desktop-width) {
  .info__input {
    padding: 10px 20px 11px;
  }
}

.info__input-1 {
  margin-left: 13px;
}

.info__input-2 {
  margin-left: 17px;
}

.info__input-3 {
  margin-left: 14px;
}

@media (min-width: @tablet-width) {
  .info__input-1 {
    width: 567px;
    margin-left: 16px;
  }

  .info__input-2 {
    width: 533px;
    margin-left: 20px;
  }

  .info__input-3 {
    width: 493px;
    margin-left: 18px;
  }
}

@media (min-width: @desktop-width) {
  .info__input-1 {
    width: 502px;
    margin-left: 16px;
  }

  .info__input-2 {
    width: 471px;
    margin-left: 19px;
  }

  .info__input-3 {
    width: 426px;
  }
}
