//colors
@white: #ffffff;
@black: #000000;

//fonts

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

//code
.main-nav {
  background-color: @white;
}

.navigation-list {
  list-style: none;
  padding: 0;
}

.navigation-list__item {
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.navigation-list__item__link {
  text-decoration: none;
  color: @black;
}
