//colors
@white: #ffffff;
@black: #111111;
@special_dark-grey: #444444;

//fonts

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

//code

.location-tablet {
  margin: 0;
  display: flex;
  padding: 0 20px;
}

@media (min-width: @tablet-width) {
  .location-tablet {
    justify-content: space-between;
    padding: 0 30px;
  }
}

@media (min-width: @desktop-width) {
  .visually-hidden-location--desktop {
    display: none;
  }
}

.visually-hidden-location--tablet {
  display: none;
}

@media (min-width: @desktop-width) {
  .visually-hidden-location--tablet {
    display: block;
  }
}

.location-desktop {
  background-color: @white;
  width: 570px;
  height: 201px;
  position: absolute;
  margin: 95px 0 104px 110px;
  display: flex;
}

.location__text {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @black;
  padding: 28px 2px 26px 0;
}

@media (min-width: @tablet-width) {
  .location__text {
    font-size: 20px;
    line-height: 21px;
    padding: 66px 295px 51px 41px;
  }
}

@media (min-width: @desktop-width) {
  .location__text {
    padding: 66px;
  }
}

.location-address {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: @special_dark-grey;
  padding: 28px 0 26px;
}

@media (min-width: @tablet-width) {
  .location-address {
    font-size: 16px;
    line-height: 20px;
    padding: 62px 42px 58px 0;
    text-align: end;
  }
}

@media (min-width: @desktop-width) {
  .location-address {
    padding: 66px;
    text-align: start;
  }
}

.map__img {
  width: 320px;
}

@media (min-width: @tablet-width) {
  .map__img {
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .map__img {
    width: 1440px;
  }
}
