@import url("colors.less");

//code

@media (min-width: @desktop-width) {
  .map {
    position: relative;
    height: 400px;
  }
}

.location {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

@media (min-width: @tablet-width) {
  .location {
    padding: 64px 72px 50px 71px;
  }
}

@media (min-width: @desktop-width) {
  .location {
    background-color: @basic-white;
    width: 570px;
    height: 201px;
    padding: 0;
  }

  .location-wrapper {
    position: absolute;
  }
}

.location--catalog {
  background-color: @basic-grey-3;
}

@media (min-width: @desktop-width) {
  .location--catalog {
    background-color: @basic-white;
  }
}

@media (min-width: @desktop-width) {
  .visually-hidden-location--tablet {
    display: block;
  }
}

.location__text {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @basic-black-1;
  padding: 28px 2px 26px 0;
  width: 140px;
}

@media (min-width: @tablet-width) {
  .location__text {
    font-size: 20px;
    line-height: 25px;
    padding: 0;
    margin-top: 2px;
    width: 171px;
    height: 83px;
  }
}

@media (min-width: @desktop-width) {
  .location__text {
    padding: 59px 0 51px 76px;
  }
}

.location-text-start {
  display: block;
}

.location-address {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: @basic-dark-grey-1;
  padding: 28px 0 26px;
  width: 140px;
}

@media (min-width: @tablet-width) {
  .location-address {
    font-size: 16px;
    line-height: 20px;
    padding: 0;
    text-align: end;
    width: 160px;
    height: 80px;
  }
}

@media (min-width: @desktop-width) {
  .location-address {
    padding: 58px 73px 59px 87px;
    text-align: start;
    width: 180px;
  }
}

.location-address__text {
  margin: 0;
}

.promo-text-start {
  display: block;
}

@media (min-width: @desktop-width) {
  .location-address__text--ident {
    margin-top: 19px;
  }
}

@media (min-width: @tablet-width) {
  .location-address__text--street {
    margin-bottom: 20px;
  }
}

.map__picture {
  display: flex;
  margin: auto;
  max-width: 320px;
}

@media (min-width: @tablet-width) {
  .map__picture {
    max-width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .map__picture {
    max-width: 1440px;
    height: 400px;
  }
}

.map__img {
  width: 100%;
}

.map-widget {
  height: 362px;
  margin-bottom: -4px;
  width: 100%;
  border: 0;

  @media (min-width: @tablet-width) {
    height: 400px;
  }
}

@media (min-width: @desktop-width) {
  .location-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
  }

  .location-address-wrapper {
    width: 1220px;
    margin: 0 auto;
  }
}
