//colors
@white: #ffffff;
@black: #000000;
@special_dark-grey: #444444;
@basic-green: #68b738;

//fonts

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

//code

.options {
}

.options__title {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: @black;
}

.options__label {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @black;
}

.options__input {
  width: 26px;
  height: 26px;
}

.options__btn {
  padding: 7px 44px;
  width: 280px;
  height: 40px;
  background: @basic-green;
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @white;
  border: 0;
}

.options__text {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: @black;
}
