//colors
@white: #ffffff;
@black: #000000;
@special_dark-grey: #444444;
@basic-green: #68b738;

//fonts

//code

@media (min-width: @tablet-width) {
  .options {
    position: relative;
  }
}

.options__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: @black;
  margin: 22px 0 34px;
}

@media (min-width: @tablet-width) {
  .options__title {
    margin: 65px 0 57px;
    font-size: 36px;
    line-height: 36px;
  }
}

.options-list {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .options-list {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 63px;
  }
}

@media (min-width: @desktop-width) {
  .options-list {
    padding-right: 24px;
  }
}

.options__label {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @black;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 13px;

  &::before {
    content: "";
    display: block;
    width: 26px;
    height: 26px;
    border: 1px solid @special_grey;
    margin-right: 18px;

    .options__input:checked + & {
      background: url("../img/check-sign.svg") no-repeat center;
    }
  }
}

@media (min-width: @tablet-width) {
  .options__label::before {
    width: 40px;
    height: 40px;

    .options__input:checked + & {
      background: url("../img/tick.svg") no-repeat center;
    }
  }
}

.options__label:nth-child(8) {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .options__label:nth-child(6) {
    margin: 0;
  }
}

@media (min-width: @tablet-width) {
  .options__label {
    width: 231px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 32px;
  }
}

@media (min-width: @desktop-width) {
  .options__label {
    margin: 0;
  }
}

.options__input {
  display: none;
}

.options-btn-wrapper {
  text-align: center;
  margin-bottom: 32px;
}

@media (min-width: @tablet-width) {
  .options-btn-wrapper {
    text-align: start;
  }
}

.options__btn {
  padding: 7px 44px;
  width: 280px;
  height: 40px;
  background: @basic-green;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @white;
  border: 0;
  margin: 34px 0 21px;
}

@media (min-width: @tablet-width) {
  .options__btn {
    font-size: 20px;
    line-height: 0px;
    padding: 13px 43px;
    width: 282px;
    height: 52px;
    margin: 54px 0 72px;
  }
}

@media (min-width: @desktop-width) {
  .options__btn {
    width: 568px;
    height: 52px;
    margin: 61px 0 82px;
  }
}

.options__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: @black;
}

@media (min-width: @tablet-width) {
  .options__text {
    margin: 0 0 0 50px;
  }
}

@media (min-width: @desktop-width) {
  .options__text {
    top: 200px;
    left: 660px;
    height: 16px;
    margin-left: 70px;
  }
}
