//colors
@white: #ffffff;
@black: #000000;
@black-2: #111111;
@special_dark-grey: #444444;
@special_dark-grey-2: #222222;
@basic_green: #68b738;
@basic-gray: #f2f2f2;

//fonts

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

//code

.product-list {
  list-style: none;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .product-list {
    display: grid;
    grid-template-columns: 384px 324px;
  }
}

@media (min-width: @desktop-width) {
  .product-list {
    display: grid;
    grid-template-columns: 325px 325px 245px;
  }
}

@media (min-width: 1350px) {
  .product-list {
    display: grid;
    grid-template-columns: 325px 325px 325px 245px;
  }
}

.product-list__item {
  margin-bottom: 20px; //временные отступы, чтобы блоки не заходили друг на друга
  padding: 11px 0;
}

@media (min-width: @tablet-width) {
  .product-list__item {
    width: 324px;
    height: 511px;
    margin-bottom: 60px;
    background: @basic-gray;
  }
}

@media (min-width: @desktop-width) {
  .product-list__item {
    width: 245px;
    margin-bottom: 63px;
  }
}

.product-item {
  display: flex;
  margin-bottom: 32px;
}

@media (min-width: @tablet-width) {
  .product-item {
    flex-direction: column;
  }
}

.product-list__item--show-more {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.product-item__img--tiny {
  padding: 24px 36px 4px;
}

.product-item__img--tiny-first {
  padding: 14px 36px 12px;
}

.product-item__img--big {
  padding: 11px 28px;
}

.product-item__img--show-more {
  margin: auto;
}

.product-item-info__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @special_dark-grey-2;
  margin: 0;
}

.product-item-info__title--show-more {
  color: @black-2;
}

.product-item-info-title--ident {
  margin-right: 35px;
}

.product-item__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: @special_dark-grey;
}

.product-item-info__props {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: @special_dark-grey;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}

.prop {
  margin-right: 74px;
}

@media (min-width: @tablet-width) {
  .prop {
    margin-right: 161px;
  }
}

.prop-feature {
  margin: 0;
}

.product-item__link {
  background: @basic_green;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @white;
  text-decoration: none;
  padding: 8px 108px;
}

@media (min-width: @tablet-width) {
  .product-item__link {
    padding: 8px 90px;
  }
}

.product-item__link--show-more {
  background: @basic-gray;
  color: @special_dark-grey;
  padding: 8px 92px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
}

.product-item__desc {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: @special_dark-grey;
}
