//colors
@white: #ffffff;
@black: #000000;
@black-2: #111111;
@special_dark-grey: #444444;
@special_dark-grey-2: #222222;
@basic_green: #68b738;
@basic-gray: #f2f2f2;

//fonts

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

//code

.catalog-page__product-list {
}

.product-list {
  list-style: none;
  padding: 0;
}

.product-list__item {
  margin-bottom: 20px; //временные отступы, чтобы блоки не заходили друг на друга
}

.product-item {
}

.product-item__info {
}

.product-item-info {
}

.product-item-info__title {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @special_dark-grey-2;
}

.product-item-info__title--show-more {
  color: @black-2;
}

.product-item-info__props {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: @special_dark-grey;
}

.product-item__link {
  background: #68b738;
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @white;
  text-decoration: none;
  padding: 8px 108px;
}

.product-item__link--show-more {
  background: #f2f2f2;
  color: @special_dark-grey;
  padding: 8px 93px;
}

.product-item__desc {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: @special_dark-grey;
}
