@import url("colors.less");

//code

.product-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .product-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px;
  }
}

@media (min-width: @desktop-width) {
  .product-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 895px;
    margin: auto;
  }
}

@media (min-width: 1300px) {
  .product-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 1220px;
    margin: auto;
  }
}

.product-list__item {
  padding: 20px 20px 25px;
  border-top: 1px solid @basic-grey-7;
}

@media (min-width: @tablet-width) {
  .product-list__item {
    width: 324px;
    margin-bottom: 60px;
    padding: 0 0 39px 0;
    border: none;
    background: linear-gradient(to bottom, #ffffff 14.5%, @basic-grey-7 14.5%);
  }

  .product-list-item--ident {
    margin-right: 60px;
  }
}

@media (min-width: @desktop-width) {
  .product-list__item {
    width: 245px;
    margin-bottom: 63px;
  }
}

.product-item {
  display: flex;
  margin-bottom: 12px;
}

@media (min-width: @tablet-width) {
  .product-item {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.product-list__item--show-more {
  text-align: center;
  padding: 25px 20px;
  border-bottom: 1px solid @basic-grey-7;
  background: url("../img/plus.svg") no-repeat;
  background-position-x: 50%;
  background-position-y: 25px;
}

@media (min-width: @tablet-width) {
  .product-list__item--show-more {
    width: 320px;
    margin-top: 76px;
    border: 2px solid @basic-grey-7;
    padding: 52px 0 38px;
    background: url("../img/plus-tablet.svg") no-repeat;
    background-position-x: 130px;
    background-position-y: 50px;
  }
}

@media (min-width: @desktop-width) {
  .product-list__item--show-more {
    width: 241px;
    padding: 0;
    background-position-x: 92px;
    background-position-y: 51px;
  }
}

.product-item__img {
  width: 50%;
  height: 112px;
}

.product-item-img-small {
  width: 68px;
  display: block;
  margin: 14px auto;
}

.product-item-img-big {
  width: 84px;
  display: block;
  margin: 10px auto;
}

.product-item-img-small-last {
  width: 72px;
  display: block;
  margin: 24px auto 4px;
}

.product-item__img--show-more {
  margin-bottom: 23px;
}

@media (min-width: @tablet-width) {
  .product-item__img {
    width: 100%;
    height: 200px;
  }

  .product-item-img-small {
    width: 163px;
    margin: 27px auto 0;
  }

  .product-item-img-big {
    width: 168px;
    margin: 0 auto;
  }

  .product-item-img-small-last {
    width: 172px;
    margin: 26px auto 0;
  }
}

@media (min-width: @tablet-width) {
  .product-item-img-small {
    width: 162px;
    margin: 22px auto 0;
  }

  .product-item-img-big {
    width: 172px;
    margin: -5px auto 0;
  }

  .product-item-img-small-last {
    margin: 26 auto 0;
  }
}

@media (min-width: @desktop-width) {
  .product-item__img--show-more {
    margin-top: 53px;
  }
}

.product-item-info {
  width: 50%;
}

@media (min-width: @tablet-width) {
  .product-item-info {
    width: 100%;
  }
}

.product-item-info__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @basic-light-black;
  margin: 0;
  margin-bottom: 14px;
}

@media (min-width: @tablet-width) {
  .product-item-info__title {
    font-size: 20px;
    line-height: 24px;
    padding: 0 83px;
    text-align: center;
    margin-top: 34px;
    margin-bottom: 21px;
  }
}

@media (min-width: @desktop-width) {
  .product-item-info__title {
    font-size: 20px;
    line-height: 24px;
    padding: 2px 50px 0 55px;
    text-align: center;
    margin-bottom: 21px;
  }
}

.product-item-info__title--show-more {
  color: @basic-black-2;
  margin-top: 53px;
  margin-bottom: 8px;
  margin-left: 4px;
}

@media (min-width: @tablet-width) {
  .product-item-info__title--show-more {
    line-height: 22px;
    margin-top: 107px;
    margin-bottom: 23px;
  }
}

@media (min-width: @desktop-width) {
  .product-item-info__title--show-more {
    line-height: 22px;
    margin-top: 158px;
    margin-bottom: 23px;
  }
}

.product-item-info-title--ident {
  display: block;
}

@media (min-width: @tablet-width) {
  .product-item-info-title--ident {
    display: contents;
  }
}

@media (min-width: @desktop-width) {
  .product-list-item--ident {
    margin-right: 80px;
  }

  .product-list-item--ident-desktop {
    margin-right: 80px;
  }
}

@media (min-width: @desktop-width) {
  .product-list__item:nth-child(3) {
    margin-right: 0;
  }

  .product-list__item:nth-child(6) {
    margin-right: 0;
  }
}

@media (min-width: 1300px) {
  .product-list__item:nth-child(3) {
    margin-right: 80px;
  }

  .product-list__item:nth-child(4) {
    margin-right: 0;
  }

  .product-list__item:nth-child(6) {
    margin-right: 80px;
  }
}

.product-item-text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: @basic-dark-grey-1;
  margin: 8px 0 21px;
}

@media (min-width: @tablet-width) {
  .product-item-text {
    margin: 0 55px 83px;
    font-size: 16px;
    line-height: 18px;
  }
}

@media (min-width: @desktop-width) {
  .product-item-text {
    margin: 0 25px 88px;
  }
}

.product-item-info__props {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: @basic-dark-grey-1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .product-item-info__props {
    font-size: 16px;
    line-height: 16px;
    margin: 0 38px;
    padding: 0;
    border-bottom: 1px solid @basic-grey-4;
  }

  .product-item-info__props:nth-child(3) {
    margin-top: 7px;
  }

  .product-item-info__props:nth-child(4) {
    margin-top: 8px;
  }
}

@media (min-width: @desktop-width) {
  .product-item-info__props {
    margin: 0 38px;
  }
}

.prop {
  margin-right: 70px;
}

@media (min-width: @tablet-width) {
  .prop {
    margin-right: 0;
    margin-bottom: 7px;
  }
}

.prop-feature {
  margin: 0;
}

.product-list-item__link {
  background: @basic-green-1;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @basic-white;
  text-decoration: none;
  height: 40px;
  width: 100%;
  border: 0;

  &:hover {
    background-color: @basic-green-2;
  }

  &:focus {
    color: @basic-green-3;
    background-color: @basic-green-2;
  }
}

@media (min-width: @tablet-width) {
  .product-list-item__link {
    padding: 0;
    margin: 34px 37px 0 39px;
    width: 248px;
  }
}

@media (min-width: @desktop-width) {
  .product-list-item__link {
    padding: 10px 53px;
    width: 168px;
  }
}

.product-list-item-link-show-more {
  background: @basic-grey-3;
  color: @basic-dark-grey-1;
  height: 40px;
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  border: 0;

  &:hover {
    background-color: @basic-grey-7;
  }

  &:focus {
    color: @basic-dark-grey-5;
  }
}

@media (min-width: @tablet-width) {
  .product-list-item-link-show-more {
    margin: 0 34px 0 36px;
    width: 249px;
  }
}

@media (min-width: @desktop-width) {
  .product-list-item-link-show-more {
    width: 168px;
    margin: 0 38px;
  }
}

// .product-item__desc {
//   font-family: "Arial", sans-serif;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 12px;
//   line-height: 16px;
//   color: @special_dark-grey;
// }
