//colors
@white: #ffffff;
@black: #000000;
@special_dark-grey-2: #222222;
@special_light-gray: #e7e7e7;

//fonts

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

//code

.select {
}

.select__label {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special_dark-grey-2;
}

.select__input {
  border: 1px solid @special_light-gray;
  width: 30px;
  height: 30px;
}
