//colors
@white: #ffffff;
@black: #111111;

//fonts

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

//code

@media (min-width: @tablet-width) {
  .contacts {
    display: flex;
  }
}

.social-list {
  list-style: none;
  padding: 0;
  display: flex;
}

.social-item__link {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: @black;
  line-height: 20px;
  text-transform: uppercase;
}

.social-item__link--vkontakte {
  margin-right: 36px;
}

.social-item__link--instagram {
  margin-right: 33px;
}
