@import url("colors.less");

//code

.social {
  padding: 20px 77px 16px 73px;
  border-top: 1px solid @basic-gray-1;
  border-bottom: 1px solid @basic-gray-1;
}

@media (min-width: @tablet-width) {
  .social {
    padding: 0;
    border: 0;
  }
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .social-list {
    margin-left: 21px;
  }
}

@media (min-width: @desktop-width) {
  .social-list {
    margin-left: 26px;
  }
}

.social-item__link {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  line-height: 20px;
  text-transform: uppercase;
  color: @basic-dark-grey-2;

  .social-item-link__img:hover {
    color: @basic-green-1;
  }

  .social-item-link__img:focus {
    color: @basic-green-1;
    opacity: 0.3;
  }
}

.social-item__link--vkontakte {
  margin-right: 36px;
}

.social-item__link--instagram {
  margin-right: 33px;
}

@media (min-width: @tablet-width) {
  .social-item__link--vkontakte {
    margin-right: 27px;
  }

  .social-item__link--instagram {
    margin-right: 21px;
  }
}

.social-item-link__img--vkontakte {
  width: 23px;
  height: 16px;
  margin-top: 3px;
}

.social-item-link__img--instagram {
  width: 16px;
  height: 16px;
  margin-top: 3px;
}

.social-item-link__img--facebook {
  width: 22px;
  height: 22px;
}

@media (min-width: @tablet-width) {
  .social-item-link__img--vkontakte {
    width: 30px;
    height: 22px;
    margin-top: 2px;
  }

  .social-item-link__img--instagram {
    width: 23px;
    height: 23px;
    margin-top: 3px;
  }

  .social-item-link__img--facebook {
    width: 28px;
    height: 28px;
  }
}
