//header
@import url("./blocks/main-nav.less"); //навигация(шапка)

// //index
@import url("./blocks/banner.less"); //верх index'а
@import url("./blocks/tips.less");
@import url("./blocks/description.less");
@import url("./blocks/example.less");
@import url("./blocks/slider.less");
@import url("./blocks/comparison.less");
@import url("./blocks/switcher.less");
@import url("./blocks/range.less");

//form
@import url("./blocks/form.less");
@import url("./blocks/information.less");
@import url("./blocks/info.less");
@import url("./blocks/select.less");
@import url("./blocks/contact.less");
@import url("./blocks/comment.less");
@import url("./blocks/options.less");

//catalog
@import url("./blocks/catalog.less");
@import url("./blocks/product.less");
@import url("./blocks/extra-product.less");

//footer
@import url("./blocks/location.less"); //карта
@import url("./blocks/social.less");
@import url("./blocks/copyright.less");

//colors
@import url("colors.less");

@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1200px;

* {
  margin: 0;
  padding: 0;
}

.body {
  background: @basic-white;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;
}

.visually-hidden {
  display: none;
}

.heading-wrapper {
  width: 90%;
  padding-left: 20px;
  display: block;
}

@media (min-width: @tablet-width) {
  .heading-wrapper {
    max-width: 630px;
    padding-left: 0;
    margin: auto;
  }
}

@media (min-width: @desktop-width) {
  .heading-wrapper {
    max-width: 1220px;
    margin: auto;
  }
}

.heading {
  background: linear-gradient(
    to bottom,
    @basic-white 16px,
    @basic-green-1 16px 18px,
    @basic-white 18px
  );

  @media (min-width: @tablet-width) {
    background: linear-gradient(
      to bottom,
      @basic-white 23px,
      @basic-green-1 23px 25px,
      @basic-white 25px
    );
  }

  &__content {
    padding-right: 22px;
    padding-left: 19px;
    margin-left: -20px;
    background-color: @basic-white;

    & + & {
      display: block;
    }

    @media (min-width: @tablet-width) {
      margin-left: -39px;
      padding-left: 39px;
      padding-right: 0;

      &:last-child {
        display: inline;
        margin-left: 0;
        padding-left: 0;
        padding-right: 40px;

        &:first-child {
          margin-left: -39px;
          padding-left: 39px;
        }
      }
    }
  }
}
