//header
@import url("main-nav.less"); //навигация(шапка)

//index
@import url("banner.less"); //верх index'а
@import url("tips.less");
@import url("description.less");
@import url("example.less");

//form
@import url("form.less");
@import url("info.less");
@import url("select.less");
@import url("contact.less");
@import url("comment.less");
@import url("options.less");

//catalog
@import url("catalog.less");
@import url("product.less");
@import url("extra-product.less");

//footer
@import url("map.less"); //карта
@import url("social.less");
@import url("copyright.less");

//colors

@white: #ffffff;
@black: #000000;

//size
@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;

//code

.body {
  background: @white;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
}

.visually-hidden {
  display: none;
}
