@import url("colors.less");

//code

.tips__wrapper {
  max-width: 320px;
  margin: auto;
}

@media (min-width: @tablet-width) {
  .tips__wrapper {
    padding: 0 30px;
    max-width: 708px;
  }
}

@media (min-width: @desktop-width) {
  .tips__wrapper {
    display: flex;
    max-width: 1220px;
    justify-content: space-between;
    padding: 0;
  }
}

.tip {
  width: 280px;
  margin: 22px 20px;
}

@media (min-width: @tablet-width) {
  .tip {
    width: 708px;
    margin: 0;
    padding-bottom: 61px;
  }
}

@media (min-width: @desktop-width) {
  .tip {
    width: 570px;
    padding: 0;
  }
}

.tip__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: @basic-black-1;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .tip__title {
    font-size: 36px;
    line-height: 36px;
  }
}

.tip__title--tiny {
  padding: 30px 79px 29px 91px;
}

@media (min-width: @tablet-width) {
  .tip__title--tiny {
    padding: 77px 53px 26px;
  }
}

@media (min-width: @desktop-width) {
  .tip__title--tiny {
    padding: 77px 53px 73px 214px;
  }
}

.tip__title--big {
  padding: 30px 44px 30px 91px;
}

@media (min-width: @tablet-width) {
  .tip__title--big {
    padding: 74px 53px 24px;
  }
}

@media (min-width: @desktop-width) {
  .tip__title--big {
    padding: 77px 53px 73px 214px;
  }
}

.tip--tiny-cat {
  background: url("../img/cat_back.svg") no-repeat, @basic-grey-3;
  background-position-x: 22px;
  background-position-y: 21px;
}

@media (min-width: @tablet-width) {
  .tip--tiny-cat {
    background: url("../img/cat_tiny.png") no-repeat, @basic-grey-3;
    background-position-x: 446px;
    background-position-y: 81px;
    margin-bottom: 30px;
  }
}

@media (min-width: @desktop-width) {
  .tip--tiny-cat {
    background: url("../img/cat_tiny.svg") no-repeat, @basic-grey-3;
    background-position-x: 52px;
    background-position-y: 41px;
    margin: 0;
  }
}

.tip--big-cat {
  background: url("../img/cat_back2.svg") no-repeat, @basic-grey-3;
  background-position-x: 13px;
  background-position-y: 24px;
}

@media (min-width: @tablet-width) {
  .tip--big-cat {
    background: url("../img/cat_big.png") no-repeat, @basic-grey-3;
    background-position-x: 412px;
    background-position-y: 87px;
  }
}

@media (min-width: @desktop-width) {
  .tip--big-cat {
    background: url("../img/cat_big.svg") no-repeat, @basic-grey-3;
    background-position-x: 33px;
    background-position-y: 47px;
  }
}

.tip-content {
  width: 227px;
  height: 90px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @basic-dark-grey-1;
  margin: 0;
  padding: 0 33px 23px 20px;
}

@media (min-width: @tablet-width) {
  .tip-content {
    width: 340px;
    height: 96px;
    font-size: 16px;
    line-height: 24px;
    padding: 0 52px 51px;
  }
}

@media (min-width: @desktop-width) {
  .tip-content {
    width: 467px;
    height: 72px;
    padding: 0 52px 26px;
  }
}

.tip__link {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @basic-black-1;
  background: url("../img/tip-footer__link-img__arrow.svg") no-repeat;
  text-decoration: none;
  padding: 19px 107px 18px 0;
  display: block;
  background-position-x: 100px;
  background-position-y: 20px;
  border-top: 1px solid @basic-gray-1;
  margin: 0 20px;

  &:hover {
    background: url("../img/tip-footer__link-img__arrow2.svg") no-repeat;
    background-position-x: 100px;
    background-position-y: 20px;
  }

  &:focus {
    background: url("../img/tip-footer__link-img__arrow2.svg") no-repeat;
    background-position-x: 100px;
    background-position-y: 20px;
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .tip__link {
    border: none;
    font-size: 20px;
    line-height: 30px;
    padding: 0;
    margin-left: 52px;
  }

  .tip-link-1 {
    background-position-x: 133px;
    background-position-y: 9px;

    &:hover {
      background: url("../img/tip-footer__link-img__arrow2.svg") no-repeat;
      background-position-x: 133px;
      background-position-y: 10px;
    }

    &:focus {
      background: url("../img/tip-footer__link-img__arrow2.svg") no-repeat;
      background-position-x: 133px;
      background-position-y: 10px;
      opacity: 0.3;
    }
  }

  .tip-link-2 {
    background-position-x: 129px;
    background-position-y: 9px;

    &:hover {
      background-position-x: 129px;
      background-position-y: 10px;
    }

    &:focus {
      background-position-x: 129px;
      background-position-y: 10px;
      opacity: 0.3;
    }
  }
}

@media (min-width: @desktop-width) {
  .tip__link {
    height: 38px;
    padding: 0;
    margin: 0 0 55px 52px;
  }

  .tip-link-1 {
    background-position-x: 136px;
    background-position-y: 9px;

    &:hover {
      background-position-x: 136px;
      background-position-y: 9px;
    }

    &:focus {
      background-position-x: 136px;
      background-position-y: 9px;
      opacity: 0.3;
    }
  }

  .tip-link-2 {
    background-position-x: 130px;
    background-position-y: 9px;

    &:hover {
      background-position-x: 130px;
      background-position-y: 9px;
    }

    &:focus {
      background-position-x: 130px;
      background-position-y: 9px;
      opacity: 0.3;
    }
  }
}
